@tailwind base;
@tailwind components;
@tailwind utilities;

/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

body {
  height: 100vh;
  width: 100%;
  background-image: url("/italy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
/*
h1 {
  padding: 20px 50px;
  background: white;

  text-transform: uppercase;

  color: #000;
  font-size: 20px;
  font-weight: bold;
  color: #000;

  mix-blend-mode: screen;
  letter-spacing: 3px;
}*/
.containblue {
  background: rgba(26, 152, 177, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}

.containwhite {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.containpurple {
  background: rgba(144, 19, 254, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glassblue {
  background: rgba(26, 152, 177, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.contain-darkpurple {
  background: rgba(129, 9, 232, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.contain-darkgrey {
  background: rgba(51, 51, 52, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.containblueblue {background: rgba( 15, 16, 226, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );}